body {
  font-family: 'Ubuntu', sans-serif;
}
/* barra de scroll */
body::-webkit-scrollbar {
  width: 5px;
  background-color: #202c33;
}
body::-webkit-scrollbar-thumb {
  background-color: #086594;
  border-radius: 10px;
}
.Jobs {
  padding: 30px 130px 50px 130px;
  background-color: var(--background);
  display: grid;
  /* gap: 30px; */
  /* grid-template-columns: repeat(auto-fill, 340px); */
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  place-items: center;
}
.container-title-jobs {
  width: 100%;
  padding: 0 130px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.title-jobs {
  width: 100%;
  padding-top: 50px;
}
.jobs-icon {
  margin-right: 10px;
  font-size: 3.5rem;
  color: var(--text-icon-hover);
}
.portfolio-repository {
  width: 260px;
  padding: 20px 10px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--circle);
  color: var(--text-primary);
  border-radius: 10px;
  cursor: pointer;
  transition: .8s;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.portfolio-repository:hover {
  color: var(--background);
}
.portfolio-repository::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--text-icon-hover);
  z-index: -1;
  transition: .8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.portfolio-repository:hover::before {
  height: 180%;
}
.portfolio-repository i {
  font-size: 35px;
  color: var(--icon);
}

/* media */
@media (max-width: 1000px) {
  .Jobs {
    padding: 30px 50px 50px 50px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  .container-title-jobs {
    padding: 0 50px;
  }
  .portfolio-repository {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .Jobs {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 480px) {
  .Jobs {
    padding: 30px 20px 50px 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
  }
  .container-title-jobs {
    padding: 0 20px;
  }
  .title-jobs {
    font-size: 3rem;
  }
  .portfolio-repository {
    width: 260px;
    font-size: 1.8rem;
    flex-direction: column;
  }
}