body {
  font-family: 'Ubuntu', sans-serif;
}
/* barra de scroll */
body::-webkit-scrollbar {
  width: 5px;
  background-color: #202c33;
}
body::-webkit-scrollbar-thumb {
  background-color: #086594;
  border-radius: 10px;
}
