.MyProjects {
  width: 100%;
  padding: 0 130px 0px 130px;
  background: var(--background);
}
.MyProjects-title {
  width: 100%;
  padding-top: 50px;
}
.MyProjects-container-projects {
  width: 100%;
  margin-top: 50px;
}
.MyProjects-icon {
  margin-right: 10px;
  font-size: 3.5rem;
  color: var(--text-icon-hover);
}
.MyProjects-container-button {
  width: 100%;
  display: flex;
  gap: 30px;
}
.MyProjects-container-btn {
  width: 100%;
  margin: 30px 0;
  display: grid;
  place-items: center;
}
.MyProjects-repository-jobs {
  width: 100%;
  padding: 20px 10px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-contact);
  color: var(--text-primary);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .8s;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}
.MyProjects-repository-jobs:hover {
  color: var(--background);
}
.MyProjects-repository-jobs::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--text-icon-hover);
  z-index: -1;
  transition: .8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.MyProjects-repository-jobs:hover::before {
  height: 180%;
}
.MyProjects-repository-jobs i {
  font-size: 35px;
  color: var(--icon);
}

/* media */
@media (max-width: 1000px) {
  .MyProjects {
    padding: 50px 50px 0 50px;
  }
  .MyProjects-title {
    padding: 0 50px;
  }
  .MyProjects-repository-jobs {
    width: 100%;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .MyProjects {
    padding: 50px 20px 0 20px;
  }
  .MyProjects-title {
    padding: 0 20px 10px 20px;
    font-size: 3rem;
  }
  .MyProjects-repository-jobs {
    width: 100%;
    height: 120px;
    font-size: 1.8rem;
    flex-direction: column;
    text-align: center;
  }
}
