.Projects {
  margin-bottom: 50px;
  padding: 25px;
  background: var(--circle);
  display: flex;
  gap: 20px;
  border-radius: 10px;
  transition: all 1s ease;
  position: relative;
  box-shadow: 0 0 20px var(--job-shadow);
}
.Projects:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  z-index: 1;
}
.Projects:hover:before {
  animation: animate 1s linear forwards;
}
.Projects:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
  z-index: 1;
}
.Projects:hover:after {
  animation: animate2 1s linear forwards;
}
.Projects-container h3 {
  font-size: 2.5rem;
}
.Projects-container span {
  font-size: 1.8rem;
}
.Projects-container p {
  padding-bottom: 10px;
  font-size: 1.6rem;
}
.Projects-video {
  width: 100%;
  margin-top: 13px;
  border-radius: 10px;
}
.Projects-container-img {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
}
.Projects-container-img img {
  width: 270px;
  height: auto;
  border-radius: 10px;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: var(--border-projects);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: var(--border-projects);
    border-right-color: var(--border-projects);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: var(--border-projects);
    border-right-color: var(--border-projects);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--border-projects);
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--border-projects);
    border-left-color: var(--border-projects);
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--border-projects);
    border-left-color: var(--border-projects);
  }
}
