.Projects {
  height: auto;
  margin-bottom: 50px;
  padding: 25px;
  background: var(--background-contact);
  display: flex;
  gap: 20px;
  border-radius: 10px;
  transition: all 1s ease;
  position: relative;
}
.Projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Projects-container h3 {
  font-size: 2.5rem;
}
.Projects-container span {
  font-size: 1.8rem;
}
.Projects-container p {
  padding-bottom: 10px;
  font-size: 1.6rem;
}
.Projects-video {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
.Projects-container-img {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
}
.Projects-container-img img {
  width: 260px;
  height: auto;
  border-radius: 10px;
}
.Projects-container-btn {
  width: auto;
  padding: 10px 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: var(--text-icon-hover);
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  color: var(--scroll-down);
  border: none;
  border-radius: 6px;
  transition: 300ms ease-in-out all;
}
.Projects-container-btn:hover {
  transform: scale(0.95, 0.95);
}

/* media */
@media (max-width: 1000px) {
  .Projects-container-img img {
    width: 200px;
  }
}

@media (max-width: 840px) {
  .Projects {
    flex-direction: column;
  }
  .Projects-container-img {
    display: none;
  }
  .Projects-container-btn {
    width: 100%;
    height: 50px;
    position: static;
    background: var(--text-icon-hover);
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color: var(--scroll-down);
    display: grid;
    place-items: center;
    border: none;
    border-radius: 6px;
    transition: 300ms ease-in-out all;
    cursor: pointer;
  }
  .Projects-container-btn:hover {
    transform: scale(0.95, 0.95);
  }
}

@media (max-width: 480px) {
  .Projects-container h3 {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  .Projects-container span {
    font-size: 1.5rem;
  }
  .Projects-container p {
    font-size: 1.5rem;
  }
}
