.ProjectsSlider {
  width: 280px;
  height: auto;
  position: fixed;
  bottom: 35px;
  left: calc(50% - 150px);
  z-index: 11;
}
.ProjectsSlider-container {
  width: 280px;
  height: auto;
  position: fixed;
  left: calc(50% - 125px);
}
.ProjectsSlider img {
  width: 280px;
  border-radius: 10px;
}

/* media */
@media (max-width: 1300px) {
  .ProjectsSlider {
    bottom: 150px;
  }
}

@media (max-width: 840px) {
  .ProjectsSlider {
    bottom: 110px;
  }
}

@media (max-width: 680px) {
  .ProjectsSlider {
    width: 260px;
    bottom: 100px;
  }
  .ProjectsSlider-container {
    width: 260px;
    left: calc(50% - 110px);
  }
  .ProjectsSlider img {
    width: 260px;
  }
}

@media (max-width: 480px) {
  .ProjectsSlider {
    bottom: 88px;
  }
}
