.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
.scroll-inactive {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.scroll-inactive:hover {
  opacity: 1;
}
.scroll-button-text {
  color: var(--scroll-down);
  margin-top: 10px;
  font-weight: lighter;
  font-size: 14px;
}
.scroll-button {
  position: relative;
  height: 45px;
  width: 26px;
  border: 2px solid var(--scroll-down);
  border-radius: 3em;
  display: flex;
  justify-content: center;
}
.scroll-button::before {
  position: absolute;
  top: 18px;
  content: "";
  height: 8px;
  width: 3px;
  border-radius: 2px;
  background: var(--text-icon-hover);
  animation: move-down 2s infinite;
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(5px);
    opacity: 0;
  }
}

/* media */
@media (max-width: 768px) {
  .scroll-button {
    height: 35px;
    width: 20px;
  }
  .scroll-button::before {
  top: 15px;
}
  .scroll-button-text {
    font-size: 13px;
  }
}
