.skills-interesets {
  text-align: center;
}
.skills-interests-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-interests-container-content {
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.circle {
  margin: 0 0 30px 0;
  width: 70px;
  height: 70px;
  background-color: var(--circle);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 100%;
}
.circle:hover {
  background-color: var(--circle-hover);
  transform: scale(1.3, 1.3);
}
.circle i{
  margin-bottom: 3px;
  font-size: 65px;
}
.html {
  color: #e34f26;
}
.css {
  color: #0099e5;
}
.js {
  color: #f7df1e;
}
.react {
  color: #61dafb;
}
.git {
  color: #171515;
}
.node {
  color: #215732;
}
.interests {
  color: var(--text-icon-hover);
}

/* media */
@media (max-width: 814px) {
  .skills-interests-container-content {
    gap: 20px;
  }
  .circle {
    width: 60px;
    height: 60px;
  }
  .circle:hover {
    transform: scale(1.2, 1.2);
  }
  .circle i {
    font-size: 50px;
  }
  .circle h4 {
    font-size: 1.4rem;
  }
}

@media (max-width: 770px) {
  .skills-interesets {
    margin-top: 25px;
  }
  .skills-interests-container-content {
    margin-top: 20px;
    gap: 30px;
  }
  .circle {
    width: 70px;
    height: 70px;
  }
  .circle i {
    font-size: 68px;
  }
  .circle h4 {
    font-size: 1.6rem;
  }
}
